<footer class="footer">
    <div class="footer__container">
        <section>
            <h2>Sobre</h2>
            <p class="foote__about-text">Lorem, ipsum dolor sit amet <br> consectetur adipisicing elit. <br>
                Reiciendis eum hic eaque,<br> maiores aliquam dolore obcaecati! <br>
                Maiores enim itaque hic suscipit odio! <br> Placeat, repellat animi quibusdam et inventore dolor atque?
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
                <li><i class="fa-sharp fa-solid fa-phone"> </i>(00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i>(00) 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy;Todos direitos reservados.
    </section>
</footer>
